<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>942840414322-85gj4ktqoqgf6fu3gj26f5e23vq6bekk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.942840414322-85gj4ktqoqgf6fu3gj26f5e23vq6bekk</string>
	<key>API_KEY</key>
	<string>AIzaSyDh6O4Qd9LgmVqXWVmZ5j9OXR9a4VMsWG0</string>
	<key>GCM_SENDER_ID</key>
	<string>942840414322</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.acropolis</string>
	<key>PROJECT_ID</key>
	<string>acropolis-4c34a</string>
	<key>STORAGE_BUCKET</key>
	<string>acropolis-4c34a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:942840414322:ios:20b74cc2bacd7c336ec2eb</string>
</dict>
</plist>